alembic==1.4.3
appdirs==1.4.3
attrs==20.3.0
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
clickclick==20.10.2
codecov==2.1.10
colorama==0.4.3
connexion==2.7.0
contextlib2==0.6.0
coverage==5.3
distlib==0.3.0
distro==1.4.0
Faker==4.14.2
Flask==1.1.2
Flask-Environments==0.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
geographiclib==1.50
geopy==2.0.0
html5lib==1.0.1
idna==2.8
inflection==0.5.1
iniconfig==1.1.1
ipaddr==2.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lockfile==0.12.2
Mako==1.1.3
MarkupSafe==1.1.1
msgpack==0.6.2
openapi-spec-validator==0.2.9
packaging==20.3
pep517==0.8.2
pluggy==0.13.1
progress==1.5
py==1.9.0
pyparsing==2.4.6
pyrsistent==0.17.3
pytest==6.1.2
pytest-cov==2.10.1
pytest-cover==3.0.0
pytest-coverage==0.0
python-dateutil==2.8.1
python-editor==1.0.4
pytoml==0.1.21
PyYAML==5.3.1
requests==2.22.0
retrying==1.3.3
six==1.14.0
SQLAlchemy==1.3.20
swagger-ui-bundle==0.0.8
text-unidecode==1.3
timeago==1.0.14
toml==0.10.2
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
importlib-resources==3.3.0